.navigation__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 20px;
}

.navigation__link_type_signup {
  color: #000;
  transition: opacity .5s;
}

.navigation__link_type_signup:hover {
  opacity: .7;
}

.navigation__link_type_signin {
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  transition: opacity .5s;
}

.navigation__link_type_signin:hover {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 10px;
    padding: 5px 12px;
  }
}