.header_bg-color_dark {
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1280px;
  height: 74px;
  padding: 0 70px;
  margin: auto;
}

.header__logo {
  height: 38px;
}
