.about-project {
  width: 100%;
  max-width: 1280px;
  padding: 0 70px;
  box-sizing: border-box;
  margin: 110px auto;
}

.about-project__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.63px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  margin: 0;
}

.about-project__text-section {
  display: flex;
  column-gap: 30px;
  margin-top: 70px;
}

.about-project__diagram {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  margin: 110px auto 0;
}

.about-project__diagram-text {  
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding: 9px 0;
  margin: 0;
}

.about-project__diagram-text_bg_black {
  grid-column-start: 1;
  grid-column-end: 2;
  background: #000;
  color: #fff;
}

.about-project__diagram-text_bg_gray {
  grid-column-start: 2;
  grid-column-end: 7;
  background: #f2f2f2;
  color: #000;
}

.about-project__description_text_backend {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 14px;
  font-weight: 500;
  color: #a0a0a0;
}

.about-project__description_text_frontend {
  grid-column-start: 2;
  grid-column-end: 7;
  margin-top: 14px;
  font-weight: 500;
  color: #a0a0a0;
}

.about-project__subtitle {
  margin: 0;  
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.2px;
  letter-spacing: -0.04em;
}

.about-project__text {
  margin: 26px auto 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 1023px) {
  .about-project {
    padding: 0 50px;
    margin: 90px auto;
  }

  .about-project__diagram  {
    margin: 70px auto 0;
  }
  
  .about-project__description_text_frontend {
    margin-top: 5px;
  }

  .about-project__description_text_backend {
    margin-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    padding: 0 18px;
    margin: 70px auto;
  }

  .about-project__text-section {
    flex-direction: column;
    gap: 56px;
    margin: 60px auto;
  }

  .about-project__diagram  {
    margin: 70px auto 0;
  }
  
  .about-project__description_text_frontend {
    margin-top: 5px;
  }

  .about-project__description_text_backend {
    margin-top: 5px;
  }

  .about-project__diagram-text {  
    font-size: 11px;
    line-height: 13px;
  }
}
