.register {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.register__container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register__logo {
  margin-bottom: 40px;
}

.register__input-section {
  display: flex;
  flex-direction: column;
}

.register__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;

  margin: 0;
  margin-bottom: 40px;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__label {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.register__input {
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f9f9f9;
  height: 46px;
  border-radius: 8px;
  padding: 15px;
  font-size: 13px;
  line-height: 16px;
}

.register__input:invalid{
  color: #ff4062;
}

.register__error-label {
  font-size: 10px;
  line-height: 12px;
  color: #ff4062
}

.register__error-label:first-of-type {
  margin-bottom: 10px;
}

.register__button {
  color: #fff;
  background: #000;
  margin: 150px 0 16px;
  height: 45px;
  border-radius: 3px;
  padding: 0;
  border: none;
  outline: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  transition: opacity .3s;
}

.register__button:hover {
  cursor: pointer;
  opacity: .8;
}

.register__button:disabled {
  opacity: .3;
  cursor: default;
}

.register__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
}

.register__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  transition: opacity .5s;
}

.register__link:hover {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  .register__container {
    margin-top: 56px;
    margin-bottom: 30px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
  }

  .register__logo {
    margin-bottom: 50px;
  }

  .register__form {
    width: 100%;
    margin: 0 30px;
  }

  .register__error-label:first-of-type {
    margin-bottom: 20px;
  }
}
